.x3mod, .spoiler_body, .spoiler_header, table {
    margin-left: 100px;
    margin-right: 100px;
    color: #FF9898 !important;
    background: black !important;
    background-color: black !important;
}